body,
html {
    background-color: #eff4f8 !important;
    height: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Poppins', sans-serif !important;
    color: rgb(64, 64, 66) !important;
}

.publication {
    border-radius: 13px;
    background: #eff4f8;
    box-shadow: 11px 11px 15px #ced2d5,
        -11px -11px 15px #ffffff;
    width: 80%;
    padding: 20px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);

}


.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img {
    width: 100px;
}


form {
    width: 400px;
}

.avatar {
    width: 50px;
}

form h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
    font-family: 'Poppins', sans-serif !important;
}


.input-div {
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 15px 5px;
    padding: 5px 0;
    border-bottom: 2px solid rgb(72, 116, 80);

    &.invalid{
        border-bottom: 3px solid rgb(209, 23, 23);

    }
}

.input-div.focus .i i {
    color: rgb(128, 187, 139);
}


.input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.username {
    margin-top: 0;
}

.input-div.password {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(128, 187, 139);
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(128, 187, 139);
    font-size: 18px;
    transition: .3s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    color: rgb(117, 117, 117);
    font-size: 15px;
    font-weight: 700;
}




@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    form h2 {
        margin: 8px 0;
        
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .img {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }


    .login-container {
        justify-content: center;
    }
}


.btn {
    text-decoration: solid;
    display: block;
    height: 50px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 21px;
    background: #eff4f8;
    box-shadow: 11px 11px 15px #ced2d5,
        -11px -11px 15px #ffffff;
    cursor: pointer;
    color: darken($color: #b6d4a8, $amount: 10%) !important;
    background-size: 200%;
    transition: .5s;
    text-transform: uppercase;
}

.btn:hover {
    background-position: right;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #aaa;

    p{
        position: absolute;
        color: white !important;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: transparent !important;
        top: 50%;
    }
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
}
.greta{
    position: relative;
    top: 5px;
    font-family: 'Sen', sans-serif !important;
}

.fleche{
    position: absolute;
    left: 40px;
    top: 40px;
    color: #aaa;
    font-size: 40px;
}

.input-div.focus .i i {
    color: rgb(128, 187, 139);
}


.input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
}

.fa-at.invalid,.mdps.invalid,.fa-key.invalid,.h5mail.invalid{
    color:red;
}
