$primary-dark: #2A343D;
$primary-light: #eff4f8;
$accent-color: #8e9b55;

html,
body,
h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Sen', sans-serif !important;
}

*,
*:focus,
*:hover,
*:active {
    outline: 0 !important;
    outline: none !important;
    box-sizing: border-box;
}

a,
a:focus,
a:active,
a:hover {
    border: 0 !important;
    outline: 0 !important !important;
    outline: none !important;
    box-shadow: none !important;
}

.badge.badge-success {
    font-size: 1em;
    padding: 2px;
}

body {
    overflow-x: hidden;

    &.sombre {
        background-color: $primary-dark;
    }

    &.clair {
        background-color: $primary-light;
    }
}

input[type="button"] {
    outline: none;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
}

a {
    &.sombre {
        color: rgb(206, 221, 236) !important;

        &:hover {
            color: lighten(rgb(206, 221, 236), 10%) !important;
        }
    }

    &.clair {
        color: #7A8AA3 !important;

        &:hover {
            color: lighten(#7A8AA3, 10%) !important;
        }
    }
}

a.dropdown-item {
    color: #7A8AA3 !important;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: #c3b4b4;
}

h2 {
    &.sombre {
        color: #fff;
    }

    &.clair {
        color: #7A8AA3;
    }
}

.header {
    padding-top: 20px;
}

.searchbar {
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    transition: ease-in-out .5s;

    &.clair {
        border: 1px solid rgb(206, 205, 205);

        &:hover {
            box-shadow: 7px 7px 14px #6bd4d4, -7px -7px 14px #8dffff !important;
            border: none;
        }
    }

    &.sombre {
        border: 1px solid #8d7373;

        &:hover {
            box-shadow: 7px 7px 17px #222b32, -7px -7px 17px #323d48 !important;
            border: none;
        }
    }

    &.active {
        &.clair {
            box-shadow: 7px 7px 14px #6bd4d4, -7px -7px 14px #8dffff !important;
            border: none;
        }

        &.sombre {
            box-shadow: 7px 7px 17px #222b32, -7px -7px 17px #323d48 !important;
            border: none;
        }
    }
}

.geoImg {
    position: absolute;
    opacity: 1;
    right: 20px;
    top: 10px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.geoImg.disabled {
    opacity: .2;
}


.navbar-toggler {
    border: none !important;
    outline: none !important;
    border-color: transparent !important;
}

#searchbar {
    background: none;
    text-align: center;
    border: none;
    background-color: transparent;
    border-color: transparent;
    outline: 0px !important;
    -webkit-appearance: none;
}

.searchbar-hover {
    height: 100px;
    border-radius: 13px;
}

.theme-toggler {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;

    &.sombre {
        background: $primary-dark;
        position: relative;
        box-shadow: 7px 7px 17px #222b32, -7px -7px 17px #323d48;
    }

    &.clair {
        background: $primary-light;
        box-shadow: 11px 11px 15px #ced2d5, -11px -11px 15px #ffffff;
        position: relative;
    }
}

.theme-toggler2 {
    content: "";
    position: absolute;
    top: -1.5px;
    right: 0;
    width: 50px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;

    &.sombre {
        background: $primary-dark;
        box-shadow: 7px 7px 17px #222b32, -7px -7px 17px #323d48;
    }

    &.clair {
        background: $primary-light;
        box-shadow: 11px 11px 15px #ced2d5, -11px -11px 15px #ffffff;
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }
}

.avatar-create-publication {
    height: 60px;
    position: absolute;
    left: 10px;
}

div[contenteditable] {
    max-height: 200px;
    overflow: auto;
    min-height: 80px;
    width: 50%;
    color: #7A8AA3;
    font-size: 1.5em;
    margin-bottom: 30px;

    &:focus {
        background-color: $primary-dark;
    }

    &:focus.clair {
        background-color: $primary-light;
    }
}

.text-create-publication[placeholder]:empty:before {
    content: attr(placeholder);
    color: #7A8AA3;
}

.text-create-publication[placeholder]:empty:focus:before {
    content: "";
}

.btn-publication {
    margin-right: 10px;
    color: rgb(247, 242, 242);
    border-radius: 10px;

    &.sombre {
        background-color: lighten($color: $primary-dark, $amount: 10%);

        &:hover {
            background-color: lighten($color: $primary-dark, $amount: 15%);
            color: rgb(247, 242, 242) !important;
        }
    }

    &.clair {
        background-color: lighten($color: $primary-dark, $amount: 40%);

        &:hover {
            background-color: lighten($color: $primary-dark, $amount: 45%);
            color: rgb(247, 242, 242) !important;
        }
    }
}

.img-create-publication {
    margin-bottom: 30px;
}

.btn-publier {
    margin-right: 10px;
    color: rgb(247, 242, 242);
    border-radius: 10px;
    background-color: $accent-color;
}

.publicationContainer {
    position: relative;
}

.publication {
    border-radius: 7px;
    margin: 40px 0;
    padding-right: 0;
    padding-left: 0;

    &.sombre {
        background: $primary-dark;
        box-shadow: 7px 7px 17px #222b32, -7px -7px 17px #323d48;
    }

    &.clair {
        background: $primary-light;
        box-shadow: 11px 11px 15px #ced2d5, -11px -11px 15px #ffffff;
    }
}

.photoProfil {
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 20px;
    object-fit: cover;
    width:50px;
    height:50px;
    border-radius: 50%;
}

.nomProfil {
    position: absolute;
    top: 25px;
    left: 80px;

    &.sombre {
        color: white;
    }

    &.clair {
        color: #7A8AA3;
    }
}

.publicationDate {
    position: absolute;
    top: 45px;
    left: 80px;
    font-size: .7em;
    font-style: italic;
    color: #7A8AA3;
}

.publicationTexte {

    margin: 60px 30px 0 30px;
    margin-bottom: -20px;

    &.sombre {
        color: white;

    }

    &.clair {
        color: #7A8AA3;
    }
}

.comment {
    display: flex;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #e2c4c4;

    &:last-child {
        border-bottom: none;
    }

    .comment-body {
        margin-left: 50px;
    }

    .comment-img img {
        top: 0px !important;
        left: 20px !important;
        height: 50px;
    }

    .comment-nom {
        color: #7A8AA3;
        font-weight: 600;
        font-size: 18px;
    }

    p {
        color: #7A8AA3;
    }

    p.date {
        font-size: .7em;
        font-style: italic;
        color: #7A8AA3;
        font-style: italic;
    }
}

img[src*="undefined"]  {
    height: 10px;
    margin-bottom: -20px;
}

img[src=""] {
    height: 10px;
    margin-bottom: -40px;
 }

.imagePublication {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 700px;
    object-fit: cover;
    margin-top: 60px;
}

// .likes {
//     position: absolute;
//     bottom: 30px;
//     right: 30px;
//     text-align: right;
//     cursor: pointer;
// }

.stat-publication {
    text-decoration: none;
    display: inline-block;
    margin: 25px 10px;

    &:hover {
        text-decoration: none;
    }

    &:first-child {
        margin-left: 30px !important;
    }

}

.add-comment {

    &.clair {
        border-top: 1px solid #f3e3e3;
    }

    &.sombre {
        border-top: 1px solid #544d4d;
    }

    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    height: 50px;

    input {
        width: 100%;
        background: none;
        border: none;
        margin-left: 20px;
        color: #d0c0c0;
    }

    .send-comment {
        color: rgb(112, 126, 147);
        font-weight: 600;
        width: 100px;
        flex: none;
        text-align: center;
        margin-left: 10px;
        border: none;
        height: 100%;
        background: none;

        &:disabled {
            color: rgba(142, 155, 174, 0.435);
        }
    }
}

.card .likes {
    bottom: 15px !important;
}

.nbLike {
    &.sombre {
        color: white;
    }

    &.clair {
        color: #7A8AA3;
    }
}

.tabs {
    margin-top: 50px;
}

.tabs button {
    margin: 20px;

    &.clair {
        background: $primary-light;
        box-shadow: 11px 11px 15px #ced2d5, -11px -11px 15px #ffffff;
        color: #7A8AA3;
    }

    &.sombre {
        background: $primary-dark;
        box-shadow: 7px 7px 17px #222b32, -7px -7px 17px #323d48;
        color: #fff;
    }

    &.active.clair {
        background: $primary-light;
        box-shadow: 0px 0px 0px #bac2cb, 0px 0px 0px #ffffff;
        color: #7A8AA3;
    }

    &.active.sombre {
        background: $primary-dark;
        box-shadow: 0px 0px 0px #222b32, 0px 0px 0px #323d48;
        color: #fff;
    }
}

.map {
    position: relative;
    width: 50%;
}

#macarte {
    height: 400px;
    border-radius: 20px;
}

.map-container {
    margin-top: 40px;
    height: 500px;
    width: 500px;
    position: relative;
    z-index: 2;
    right: -2000px;
}

.inputfile-1+label {
    color: #f1e5e6;
    border-radius: 10px;
    background-color: lighten($color: $primary-dark, $amount: 10%);
    padding: 10px;
    text-align: right;
}

label {
    text-align: right;

    &.filled {
        background-color: rgb(150, 158, 79);

        &:hover {
            background-color: lighten($color: rgb(150, 158, 79), $amount: 10%)
        }
    }
}

.inputfile-1 {
    text-align: right;

    &.filled {
        background-color: rgb(150, 158, 79);

        &:hover {
            background-color: lighten($color: rgb(150, 158, 79), $amount: 10%)
        }
    }
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: lighten($color: $primary-dark, $amount: 15%)
}

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background: #868484;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 10px;
        }

        &:nth-child(3) {
            top: 20px;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                top: 11px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                top: 11px;
                opacity: 0;
                left: -60px;
            }

            &:nth-child(3) {
                top: 11px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
}

.nomTemplate {
    background-color: #867f7f;
    color: #867f7f;
}

.template p {
    background-image: linear-gradient(to right, #c3b4b4, #e2dada, #c3b4b4);
    color: transparent !important;
    background-size: 200%;
    border-radius: 5px;
    background-position: left;
    cursor: default;
    animation: templateAnim 6s infinite;

    .coeur {
        background-color: none;
    }
}

@keyframes templateAnim {
    0% {
        background-position: left;
    }

    25% {
        background-position: right;
    }

    50% {
        background-position: left;
    }

    75% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

// =====================================================================================================================================
// ================================== PROFIL =============================================================================================
// =====================================================================================================================================
.profil {
    margin-top: 50px;
    color: #7A8AA3;
    border-bottom: 1px solid #6d6666 !important;

    .profilName {
        color: #6b778a;
        text-align: center;
        font-size: 2em;
        margin-top: 10px;
    }

    .donnees {
        cursor: pointer;
        font-size: 1.5em;
        text-align: center;
        margin: 40px 0px;
    }

    .donnee {
        &:hover {
            color: darken(#7A8AA3, 30%)
        }
    }

    .profilPicture {
        object-fit: cover;
        width:150px;
        height:150px;
        transform: translateY(10%);
        border-radius : 50%;
    }
}

.btn-profil {
    font-size: 1.8em;
    color: #6b778a;

    &.active {
        border-top: 1px solid #6d6666 !important;
        ;
    }

    transition: .5s;
}

.btn-profil:focus {
    outline: none !important;
}

.btn-profil:focus,
.btn-profil:active:focus,
.btn-profil.active:focus,
.btn-profil.focus,
.btn-profil:active.focus,
.btn-profil.active.focus {
    outline: none !important;
}

.btn-profil:focus,
.btn-profil:active:focus,
.btn-profil.active:focus {
    outline: none !important;
    box-shadow: none !important;
}

.publicationsProfil {
    font-size: 1.2em !important;
    margin-top: 50px !important;
}

div.ng-show-add,
div.ng-show-remove {
    transition: all 0.5s linear;
}

div.ng-show-add {
    transition: all 0.5s linear
}

div.ng-show-add.ng-show-add-active {
    transition: all 0.5s linear
}

div.ng-show-remove {
    transition: all 0.5s linear
}

div.ng-show-remove.ng-show-remove-active {
    transition: all 0.5s linear
}

.card-graf {
    margin: 50px 0;
    height: 600px !important;
    position: relative;

    &.sombre {
        background: $primary-dark;
        box-shadow: 7px 7px 17px #222b32, -7px -7px 17px #323d48;
    }

    &.clair {
        background: $primary-light;
        box-shadow: 11px 11px 15px #ced2d5, -11px -11px 15px #ffffff;
    }

    #myChart {
        height: 400px !important;
    }

    .card-stat-header {
        font-size: 1em;
        color: #a09292;
        line-height: 1;
    }
}

.card-stat {
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 10px;

    .card-stat-header {
        font-size: 1em;
        color: #a09292;
    }

    .card-stat-body {
        font-size: 3em;
        color: #c3b4b4;
    }

    &.sombre {
        background: $primary-dark;
        box-shadow: 7px 7px 17px #222b32, -7px -7px 17px #323d48;
    }

    &.clair {
        background: $primary-light;
        box-shadow: 11px 11px 15px #ced2d5, -11px -11px 15px #ffffff;
    }

}

.modal-color{
    &.clair{
        background-color: $primary-light ;
    }
    &.sombre{
        background-color: $primary-dark ;
    }
}


.bloc-alert{
    display: none;
    opacity: .8;
    max-width: 300px;

    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 7px;

    h2,p{
        color: #fff !important;
        text-align: center;
    }

    h2{
        margin-top: 20px;
    }
    p{
        padding: 20px 10px;
    }

}

.follow{
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
    display: inline-block;
    padding: 10px 15px;
    background-color: #8e9b55;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 6px 16px #8e9b557d;
    color: #fff;
    transition: .3s;
    margin-left: 20px;
    &:hover{
        box-shadow: 3px 5px 12px #8e9b557d;
        transform: scale(.97);
    }

    &.followed{
        background: none;
        color: #876269;
        box-shadow : none;
        &::after{
            display: inline-block;
            content: '✔';
            padding-left: 10px;
        }
    }
}

.follow, .follow:hover, .follow:active, .follow:focus{
    outline: none !important;
    outline: 0 !important;
}

#moncompte{
    cursor: pointer !important;
}