<!DOCTYPE html>
<html class="js" lang="fr" dir="ltr">

<head>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Style Principal -->
    <link rel="stylesheet" href="View/css/style.css">
    <!-- Markers Cluster  -->
    <link rel="stylesheet" href="View/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="View/dist/MarkerCluster.Default.css" />
    <script src="View/dist/leaflet.markercluster-src.js"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="View/ressources/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo for the tutorial: Styling and Customizing File Inputs the Smart Way" />
    <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />
    <meta name="author" content="Osvaldas Valutis for Codrops" />
    <title>Gretagram</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!-- Input File -->
    <link rel="stylesheet" type="text/css" href="View/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="View/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="View/css/component.css" />
    <style>
        div {
            border-color: black;
        }
    </style>
</head>

<body class="clair" ng-app="app" ng-controller="profilCtrl">
    <!-- <nav class="mb-1 container navbar navbar-expand-lg navbar-dark default-color" style="margin-bottom:40px ;">
        <a class="navbar-brand" href="#">
            <img style="margin-bottom: 5px;" src="View/ressources/leaf.png" width="30" height="30" class="d-inline-block " alt=""> Gretagram</a>
        <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon1"><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link" href="#">Mon compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Abonnements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Abonnés</a>
                </li>
                <li class="nav-item dropdown">
                    <a style="cursor: pointer;" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Parametres </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a href="#" class="dropdown-item">Paramètres du compte</a>
                        <a href="#" class="dropdown-item change-theme">Changement du thème</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    /.Navbar -->

    <ng-nav select="changeTheme()"></ng-nav>

    <div class="container profil">
        <div class="row">
            <div class="col-2">
                <img src="View/ressources/profile.svg.png" class="profilPicture" alt="">
            </div>
            <div class="col-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col profilName">Maurice Lestin</div>
                    </div>
                    <div class="row donnees">
                        <div class="col-12 col-sm-4 donnee">
                            <p> <strong>10</strong> <br>Publications</p>
                        </div>
                        <div class="col-12 col-sm-4 donnee">
                            <p> <strong>128</strong> <br>Abonnés</p>
                        </div>
                        <div class="col-12 col-sm-4 donnee">
                            <p> <strong>12</strong> <br>Abonnements</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <button class="col-3 btn-profil  btn active btnPub" ng-click="pubFunction()">Publications</button>
            <button class="col-3 btn-profil  btn btnStat" ng-click="statFunction()">Statistiques</button>
        </div>
    </div>

    <div class="publicationsProfil container" ng-show='loading'>
        <div class="card-columns">
            <div class="card publication clair template">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eum. Numquam doloribus deleniti nulla sapiente
                    </p>
                    <p class="card-text"><small class="text-muted" style="color: transparent !important;">Une certaine date</small></p>
                </div>
            </div>
            <div class="card publication clair template">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eum. Numquam doloribus deleniti nulla sapiente
                    </p>
                    <p class="card-text"><small class="text-muted" style="color: transparent !important;">Une certaine date</small></p>
                </div>
            </div>
            <div class="card publication clair template">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, eum. Numquam doloribus deleniti nulla sapiente
                    </p>
                    <p class="card-text"><small class="text-muted" style="color: transparent !important;">Une certaine date</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="publicationsProfil container" ng-show='profilPubs'>
        <div class="card-columns">
            <!-- <div class="card publication clair" ng-repeat="pub in pubs">
                <img src="{{pub.image}}" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">{{pub.msg}}
                    </p>
                    <p class="card-text"><small class="text-muted">{{pub.date}}</small></p>
                </div>
            </div> -->
            <card-template></card-template>
        </div>
    </div>
    <div class="publicationsProfil container" ng-show='profilStats'>
        <h1>Statistiques</h1>
    </div>

    <script src="View/plugin/custom-file-input.js"></script>
    <script src="Controller/js/publication.js" charset="utf-8"></script>
    <script src="Controller/js/factory.js" charset="utf-8"></script>
    <script src="Controller/js/directives.js" charset="utf-8"></script>
    <script src="Controller/js/js-beautify.js" charset="utf-8"></script>
</body>

</html>