<!DOCTYPE html>
<html class="js" lang="fr" dir="ltr">

<head>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Style Principal -->
    <link rel="stylesheet" href="View/css/style.css">

    <!-- Markers Cluster  -->
    <link rel="stylesheet" href="View/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="View/dist/MarkerCluster.Default.css" />
    <script src="View/dist/leaflet.markercluster-src.js"></script>


    <!-- Favicon -->
    <link rel="shortcut icon" href="View/ressources/favicon.ico">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo for the tutorial: Styling and Customizing File Inputs the Smart Way" />
    <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />
    <meta name="author" content="Osvaldas Valutis for Codrops" />
    <title>Gretagram</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <!-- Input File -->
    <link rel="stylesheet" type="text/css" href="View/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="View/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="View/css/component.css" />




</head>

<body class="clair" ng-app="app" ng-controller="ctrl">



    <nav class="mb-1 container navbar navbar-expand-lg navbar-dark default-color" style="margin-bottom:40px ;">
        <a class="navbar-brand" href="#">
            <img style="margin-bottom: 5px;" src="View/ressources/leaf.png" width="30" height="30"
                class="d-inline-block " alt="">
            Gretagram</a>
        <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="animated-icon1"><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link" href="#">Mon compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Abonnements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Abonnés</a>
                </li>
                <li class="nav-item dropdown">
                    <a style="cursor: pointer;" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Parametres
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a href="#" class="dropdown-item">Paramètres du compte</a>
                        <a href="#" class="dropdown-item change-theme">Changement du thème</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->



    <!-- ========================================================================================== -->
    <!-- PUBLICATIONS ============================================================================= -->
    <!-- ========================================================================================== -->

    <div class="container containerPublications" ng-show="trend">
        <div class="row publicationContainer">

            <div class="col-12 publication clair" ng-repeat="x in publications">
                <img src="View/ressources/profile.svg.png" class="photoProfil" alt="">
                <p class="nomProfil clair">{{x.nom}}</p>
                <p class="publicationDate">{{x.date | date : "dd-mm-yyyy hh:ss"}}</p>
                <p class="publicationTexte clair">{{x.msg}}</p>
                <img src={{x.image}} class="imagePublication" alt="">
                <div class="likes">
                    <p class="nbLike clair">{{x.nblikes}} <span class="coeur"><svg aria-label='J’aime' class='_8-yf5 '
                                fill='#fff' height='24' viewBox='0 0 48 48' width='24'>
                                <path clip-rule='evenodd'
                                    d='M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z'
                                    fill-rule='evenodd'></path>
                            </svg> </p>
                </div>

            </div>

        </div>
    </div>


    <!-- ========================================================================================== -->
    <!-- ABONNEMENTS ============================================================================= -->
    <!-- ========================================================================================== -->

    <div class="container containerPublications" ng-show="abonnements">
        <div class="row publicationContainer">
            <div class="col-12 publication clair" ng-repeat="x in abos">
                <img src="View/ressources/profile.svg.png" class="photoProfil" alt="">
                <p class="nomProfil clair">{{x.nom}}</p>
                <p class="publicationDate">{{x.date | date : "dd-mm-yyyy hh:ss"}}</p>
                <p class="publicationTexte clair">{{x.msg}}</p>
                <img src={{x.image}} class="imagePublication" alt="">
                <div class="likes">
                    <p class="nbLike clair">{{x.nblikes}} <span class="coeur"><svg aria-label='J’aime' class='_8-yf5 '
                                fill='#fff' height='24' viewBox='0 0 48 48' width='24'>
                                <path clip-rule='evenodd'
                                    d='M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z'
                                    fill-rule='evenodd'></path>
                            </svg> </p>
                </div>

            </div>
        </div>
    </div>

    <!-- ========================================================================================== -->
    <!-- PROCHE ============================================================================= -->
    <!-- ========================================================================================== -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="map-container" style="opacity: 1;">
                <div id="macarte"></div>
            </div>
        </div>
    </div>

    <div class="container containerPublications" ng-show="proche">
        <div class="row publicationContainer">
            <div class="col-12 col-12-sm container containerPublicationsProche">

                <div class="col-12 publication clair container" ng-repeat="x in proches">
                    <img src="View/ressources/profile.svg.png" class="photoProfil" alt="">
                    <p class="nomProfil clair">{{x.nom}}</p>
                    <p class="publicationDate">{{x.date | date : "dd-mm-yyyy hh:ss"}}</p>
                    <p class="publicationTexte clair">{{x.msg}}</p>
                    <img src={{x.image}} class="col-12 imagePublication" alt="">
                    <div class="likes">
                        <p class="nbLike clair">{{x.nblikes}} <span class="coeur"><svg aria-label='J’aime'
                                    class='_8-yf5 ' fill='#fff' height='24' viewBox='0 0 48 48' width='24'>
                                    <path clip-rule='evenodd'
                                        d='M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z'
                                        fill-rule='evenodd'></path>
                                </svg> </p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="View/js/custom-file-input.js"></script>
    <script src="Controller/js/map.js" charset="utf-8"></script>
    <script src="Controller/js/publication.js" charset="utf-8"></script>



    <script type="text/javascript">
        // Ici ce ne sont que des fonctions cosmétiques
        $(document).ready(() => {

            var sombre = true; // Meme variable que dans map.js
            if (sombre) { // Si sombre est false le theme est clair sinon dark
                $('*').removeClass('sombre');
                $('*').addClass('clair');
            } else {
                $('*').removeClass('clair');
                $('*').addClass('sombre');
            }

            document.body.style.zoom = "80%"; //Dézoom de la page juste pour que ça soit plus beau 


            $(".change-theme").click(() => { // Bouton de changement de theme 
                $('*').toggleClass('sombre');
                $('*').toggleClass('clair');
            })

            $('.btn-tabs').click((e) => { // changement de classe des boutons pour changer d'aspect
                var btn = e.target;
                $('.btn-tabs').removeClass('active');
                $(btn).toggleClass('active');
            })

            //Agrandissement de la barre de recherche
            $(".form-control")
                .focusin((e) => {
                    $(".form-control").addClass('col-10');
                    $(".form-control").addClass('searchbar-hover');
                    $(".form-control").removeClass('col-6');
                    $('.search-items').fadeIn();
                })
                .focusout((e) => {
                    $(".form-control").addClass('col-6');
                    $(".form-control").removeClass('col-10');
                    $(".form-control").removeClass('searchbar-hover');
                    $('.search-items').fadeOut();
                })

            //Ajout des hashtag dans la creation de publication
            var dieze = false;
            var cptText = 0;
            var tab = [];

            var test = "oui";
            console.log(test[0]);


            $(".text-create-publication").keyup((e) => {
                tab = [];
                var text = $(".text-create-publication").text();
                var textbrut = $(".text-create-publication").html();
                var textReplace;
                if (e.keyCode == 51) {
                    dieze = true;
                }

                var phrase = text.split(/,| /);
                $('.hashtest').html("");
                phrase.forEach((i) => {
                    if (i[0] == "#" && i != "#") {
                        $('.hashtest').append("<span class='badge badge-success'>" + i +
                            "</span> ");
                    }
                });

                for (let index = 0; index < $('.hashtest').children().length; index++) {
                    tab.push($('.hashtest').children().eq(index).text());

                }
            })

            var placeholderTrigger = false;




            $(".text-create-publication").focus(() => {
                if (!placeholderTrigger) {
                    placeholderTrigger = !placeholderTrigger;
                    $(".text-create-publication").text("");
                }
            })

            $("#file-1").on('change', (e) => {
                $("#file-1").addClass("filled");
                $("label").addClass("filled");

                console.log(e.currentTarget.value);

                $('.imgtest').append(
                    $("<img></img>")
                    .attr("src", e.currentTarget.value)
                )
            });

            $(".text-create-publication").text("Exprimez vous...");

            $(".text-create-publication").focusout(
                function () { // Gestion de l'entrée de commentaire pour créer l'illusion d'un placeholder
                    var element = $(this);
                    if (!element.text().replace(" ", "").length) {
                        element.empty();
                    }

                });


            setTimeout(() => {
                $('.btnTrend').click();
            }, 1000);

        });

        $('.first-button').on('click', function () {

            $('.animated-icon1').toggleClass('open');
        });
        $('.second-button').on('click', function () {

            $('.animated-icon2').toggleClass('open');
        });
        $('.third-button').on('click', function () {

            $('.animated-icon3').toggleClass('open');
        });
    </script>



</body>

</html>