<nav class="clair mb-1 container navbar navbar-expand-lg navbar-dark default-color" style="margin-bottom:40px ;">
    <a class="clair navbar-brand" href="/">
        <img style="margin-bottom: 5px;" src="View/ressources/leaf.png" width="30" height="30" class="clair d-inline-block " alt=""> Gretagram</a>
    <button class="clair navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <div class="clair animated-icon1"><span></span><span></span><span></span></div>
    </button>
    <div class="clair collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="clair navbar-nav ml-auto nav-flex-icons">
            <li class="clair nav-item">
                <a class="clair nav-link" href="/profil">Mon compte</a>
            </li>
            <li class="clair nav-item">
                <a class="clair nav-link" href="#">Abonnements</a>
            </li>
            <li class="clair nav-item">
                <a class="clair nav-link" href="#">Abonnés</a>
            </li>
            <li class="clair nav-item dropdown">
                <a style="cursor: pointer;" class="clair nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Parametres </a>
                <div class="clair dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a href="#" class="clair dropdown-item">Paramètres du compte</a>
                    <a href="#" class="clair dropdown-item change-theme"  ng-click="select()">Changement du thème</a>
                </div>
            </li>
        </ul>

    </div>
</nav>
<!--/.Navbar -->